mat-grid-list.selected-pokemons {
  margin: 25px 15px 55px 15px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  background: #F5F5F5;

  mat-grid-tile {
    &.selected-pokemon-tile {
      border: 2px solid gray;

      img.secret {
        position: absolute;
        z-index: 100;
      }
    }

    &.versus {
      font-size: 35px;
      font-weight: bold;
    }
  }
}

mat-grid-list.picker-pokemons {
  // height: 100%;
  margin: 25px 0;

  mat-grid-tile.pokemon-tile {
    cursor: pointer;

    &.pokemon-tile-selected {
      border: 2px solid #ffd740;
    }

    &:hover:not(.pokemon-tile-selected) {
      border: 2px solid #673ab7;
    }

    pokemon {
      width: 85%;
      height: 85%;
    }
  }
}
