<mat-grid-list cols="9" rowHeight="2:1" class="selected-pokemon-pool">
  <div>
    <div *ngIf="myTeam.length > 0; else elseBlock">
      <div *ngFor="let myTeamPokemon of myTeam">
        <mat-grid-tile rowspan="2" class="selected-pokemon-tile">
          <pokemon [entity]="myTeamPokemon" [minimal]="true"></pokemon>
        </mat-grid-tile>
      </div>
      <div *ngFor="let emptyTile of initializeEmptyArray(3 - myTeam.length); let index = index">
        <mat-grid-tile rowspan="2" class="selected-pokemon-tile default-selected-pokemon-tile">
          <h2>{{myTeam.length + index + 1}}</h2>
        </mat-grid-tile>
      </div>
    </div>
    <ng-template #elseBlock>
      <mat-grid-tile rowspan="2" class="selected-pokemon-tile default-selected-pokemon-tile">
        <h2>1</h2>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" class="selected-pokemon-tile default-selected-pokemon-tile">
        <h2>2</h2>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" class="selected-pokemon-tile default-selected-pokemon-tile">
        <h2>3</h2>
      </mat-grid-tile>
    </ng-template>
  </div>

  <mat-grid-tile rowspan="2" colspan="3" class="versus">VERSUS</mat-grid-tile>

  <div title="Level of the opposing team: {{remainingLevelQuota(enemyTeam)}}">
    <div *ngFor="let enemyTeamProkemon of enemyTeam">
      <mat-grid-tile rowspan="2" class="selected-pokemon-tile">
        <img class="secret" src="assets/secret.png">
        <img src="{{enemyTeamProkemon.sprites.front_default}}" style="filter: grayscale(100%) blur(3px);">
      </mat-grid-tile>
    </div>
  </div>

  <mat-grid-tile rowspan="1" colspan="9" class="explication">
    <h2>You must select 3 pokemons for a maximum of {{MAX_LEVEL_QUOTA}} level points (remaining points: {{MAX_LEVEL_QUOTA - remainingLevelQuota(myTeam)}}).</h2>
  </mat-grid-tile>

  <mat-grid-tile rowspan="1" colspan="9">
    <input type="checkbox" id="auto-audio" [checked]="audio" (change)="audio = $event.target.checked"><label for="auto-audio">Play music automatically at the start of each fight</label>
  </mat-grid-tile>

  <mat-grid-tile rowspan="1" colspan="9" *ngIf="myTeam.length == 3">
    <button mat-raised-button color="primary" (click)="goToPage('/move-picker')">START</button>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="9" rowHeight="1:1.4" class="picker-selected-pokemon-pool">
  <mat-grid-tile *ngFor="let pokemon of pokemonPool" (click)="onClickPokemon($event, pokemon)" class="pokemon-tile pokemon-tile-{{pokemon.id}}">
    <pokemon [entity]="pokemon" [minimal]="false"></pokemon>
  </mat-grid-tile>
</mat-grid-list>
