<mat-card class="pokemon-infos" [ngClass]="{'enemy-pokemon-infos': hideStatus, 'my-pokemon-infos': !hideStatus, 'pokemon-defeated': pokemon.hp <= 0}">
  <mat-card-header style="text-align: left">
    <mat-card-title>
      {{pokemon.name | titlecase}}
      <div class="pokemon-lvl">Lv{{pokemon.level}}</div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list class="hp-bar-container" rowHeight="2:1" cols="10">
      <mat-grid-tile colspan="1" class="hp-figure">HP</mat-grid-tile>
      <mat-grid-tile colspan="9">
        <mat-progress-bar class="hp-bar" mode="determinate" value="{{(pokemon.hp * 100) / hpMax}}"></mat-progress-bar>
      </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="!hideStatus">
      <h1 class="pokemon-hp-count">{{pokemon.hp | number:'1.0-0'}} / {{hpMax}}</h1>
    </div>
  </mat-card-content>
</mat-card>
