<mat-card *ngIf="entity">
  <div *ngIf="minimal; else elseBlock" matBadge="{{entity.level}}" matBadgeColor="{{colorForLevel(entity.level)}}">
    <img src="{{entity.sprites.front_default}}">
  </div>
  <ng-template #elseBlock>
    <mat-card-header matBadge="{{entity.level}}" matBadgeColor="{{colorForLevel(entity.level)}}">
      <mat-card-title title="{{entity.name | titlecase}}">{{entity.name | titlecase}}</mat-card-title>
    </mat-card-header>

    <div class="pokemon-sprite">
      <img src="{{entity.sprites.front_default}}">
    </div>

    <mat-card-content>
      <mat-grid-list cols="2">
        <mat-grid-tile *ngFor="let entityType of entity.types">
          <img class="pokemon-types" src="{{'assets/types/' + entityType.type.name + '.png'}}" title="{{entityType.type.name}}">
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </ng-template>
</mat-card>
