<mat-card>
  <mat-card-header matBadge="{{entity.level}}" matBadgeColor="{{colorForLevel(entity.level)}}">
    <mat-card-title style="text-overflow: ellipsis; overflow: hidden; width: 70px; white-space: nowrap;" title="{{entity.name | titlecase}}">{{entity.name | titlecase}}</mat-card-title>
  </mat-card-header>

  <img src="{{entity.sprites.front_default}}">

  <mat-card-content>
    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let entityType of entity.types">
        <img class="pokemon-types" src="{{'assets/types/' + entityType.type.name + '.png'}}" title="{{entityType.type.name}}">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
