.sidenav-container {
  height: 100%;
  background: #ededed;
}

.sidenav {
  width: 250px;
  background: #ededed;
}

.sidenav .mat-toolbar {
  background-color: rgba(16,16,16,0.85);
  color: #c1c1c1;
}

.mat-toolbar.mat-primary {
  color: #c1c1c1;
  position: sticky;
  top: 0;
  z-index: 1;
}

:host ::ng-deep pokemon-information-panel {
  mat-card.pokemon-infos {
    margin: 10px 5px;
  }
}
