<audio *ngIf="audio"></audio>

<mat-progress-bar *ngIf="showLoading; else elseBlock" mode="query"></mat-progress-bar>
<ng-template #elseBlock>
  <mat-grid-list cols="12" style="height: 100%" rowHeight="fit">
    <mat-grid-tile colspan="9" rowspan="3" class="combat-backgroud" style="background-image: url('/assets/backgrounds/ocean.png')">
      <div class="combat-circles" style="background-image: url('/assets/backgrounds/ocean_circles.png')">
        <in-combat-pokemon [pokemon]="state.myCurrentPokemon" [facing]="false" class="bottom-pokemon-container"></in-combat-pokemon>
        <in-combat-pokemon [pokemon]="state.enemyCurrentPokemon" [facing]="true" class="top-pokemon-container"></in-combat-pokemon>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="5" style="background-color: rgba(16,16,16,0.85)">
      <div class="scroll-box" style="white-space: pre-wrap;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        {{combatLog}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2" style="background-color: blue">P</mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1" class="moves" *ngFor="let move of state.myCurrentPokemon.pickedMoves">
      <move [move]="move" (click)="pickAMove(move)"></move>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
