.my-pokemon-sprite {
  margin-right: 20%;
  left: 20%;
  bottom: 72px;
  -webkit-transform: scale(3);
}

.enemy-pokemon-sprite {
  right: 23%;
  // top: 247px;
  bottom: 48%;
  -webkit-transform: scale(2.5);
}

.pokemon-sprite {
  position: absolute;
}

:host ::ng-deep pokemon-information-panel {
  mat-card.pokemon-infos {
    width: 30%;

    &.enemy-pokemon-infos {
      left: 0;
      top: 0;
      margin-left: 1%;
      margin-top: 1%;
    }

    &.my-pokemon-infos {
      margin-right: 1%;
      margin-bottom: 1%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
